*{
    padding: 0;
    margin: 0;
}

.home{
    height: 100vh;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .header{
        height: 10vh;
        display: flex;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        color: white;
        justify-content: space-between;

        .logo{
            font-family: sans-serif;
        }
        

        .menu{
            display: flex;
            width: 50%;
            justify-content: space-between;
            ul{
                width: 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;

                li{
                    font-size: 25px;
                    text-transform: uppercase;

                    a{
                        color: white;
                        text-decoration: none;
                        font-family: sans-serif;
                    }
                }
            }

            button{
                padding: 10px 20px;
                border: 2px solid green;
                background-color: transparent;
                font-size: 17px;
                color: green;
                cursor: pointer;
            }
        }
    }
    .footer{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;

        h1{
            font-family: sans-serif;
            font-size: 50px;
        }

        p{
            font-family: sans-serif;
            margin: 20px 0;
            font-size: 20px;
        }

        button{
            padding: 10px 20px;
            background-color: transparent;
            color: white;
            border: 2px solid white;
            font-size: 15px;
            cursor: pointer;
        }
    }
}